@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#121212] text-white;
  }
}

body {
  font-family: "Lexend", sans-serif;
}

/* ======================================================= */
/* Custom CSS for React-Slick Arrows (To hide default icons) */
/* ======================================================= */

/*
  react-slick-ன் அடிப்படை அம்புகளை (::before element-ஆல் உருவாக்கப்படுபவை) 
  மறைக்கிறது, இதனால் Custom Arrow-கள் மட்டுமே தெரியும்.
*/
.slick-prev:before,
.slick-next:before {
  display: none !important;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #19191a;
  border-radius: 10px;
}

/* Scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #f98603;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #d37305;
}
